/*IMPORTATION DE LA POLICE CALCULATRICE*/
@import url('https://fonts.cdnfonts.com/css/calculator');

.calculatrice {
    width: 350px;
    height: 450px;
    border: solid black;
    border-radius: 15px;
    background-color: orange;
}

.conteneurNombre {
    /*Forme case d'affichage*/
    width: 330px;
    height: 50px;
    margin: 5px auto;
    align-content: center;
    border: solid black;
    border-radius: 10px;
    background-color: lightskyblue;
    /*Police de l'affichage*/
    text-align: right;
    font-family: 'Calculator', sans-serif;
    font-size: xxx-large;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 350px;

}

li {
    width: 20%;
    margin: 5px;
}

button {
    width: 50px;
    height: 50px;
}

#egal {
    width: 290px;
}

/* code pour faire la flexbox selon M. Fallet
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    width: 33%;
} */
