.calculatrice {
    width: 400px;
    border: solid black;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

li {
    width: 25%;
}



#egal {
    width: 300px;
}

/* code pour faire la flexbox selon M. Fallet
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    width: 33%;
} */
